.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .page-content {
    padding: 1rem;
    flex-grow: 1;
    overflow-y: auto;
  }


  @media (max-width: 768px) {
    .dashboard-container {
      flex-direction: column;
    }
  
    .main-content {
      margin-left: 0;
    }
  }